<div class="container">
  <h1>Painel</h1>
  <div class="sub">sábado, 21 de março</div>

  <div class="grid">
    <div class="card">
      <div class="valor">R$ 178.00</div>
      <div class="paragrafo">Faturamento</div>
    </div>

    <div class="card">
      <div class="valor">3</div>
      <div class="paragrafo">Pedidos Hoje</div>
    </div>

    <div class="card">
      <div class="valor">2</div>
      <div class="paragrafo">Em Preparo</div>
    </div>

    <div class="card">
      <div class="valor">R$ 59.33</div>
      <div class="paragrafo">Ticket Médio</div>
    </div>
  </div>

  <button class="btn" (click)="acessarRota('/novo-pedido')">+ Novo Pedido</button>

  <div class="lista">
    <h3>Últimos Pedidos</h3>

    <div class="item">
      <span>#001 João</span>
      @if (statusPedido === statusEnum.PREPARANDO) {
        <span>R$ 70.00 <span class="status">preparando</span></span>
      }

      @if (statusPedido === statusEnum.PRONTO) {
        <span>R$ 70.00 <span class="status">pronto</span></span>
      }

      @if (statusPedido === statusEnum.ENTREGUE) {
        <span>R$ 70.00 <span class="status">entregue</span></span>
      }
    </div>

    <div class="item">
      <span>#002 Maria</span>
      <span>R$ 42.00 <span class="status">preparando</span></span>
    </div>
    <app-navbar></app-navbar>
  </div>
</div>
